{{#partial "content"}}
    <h1>Reviews</h1>

    <ul>
        {{#each reviewList}}
            <li>{{rating}}: {{comment}}</li>
        {{/each}}
    </ul>

    <form action="/courses/{{courseId}}/reviews" method="post">
        <input type="number" min="0" step="1" placeholder="0" name="inputRating"/>
        <input type="text" placeholder="comment" name="inputComment"/>
        <button type="submit">Submit</button>
    </form>
{{/partial}}

{{> base.hbs}}
